{% extends "voc2.j2" %}

{% block summary %}
<p>Het conceptueel informatiemodel "besluitvorming" vormt de basis voor de uitwisseling van informatie binnen een besluitvormingsproces tussen verschillende betrokken partijen. Het definieert een aantal abstracte entiteiten, relevante eigenschappen en hun onderlinge relaties. Dit conceptueel informatiemodel vormt de basis voor ontwikkelaars  om verder uit te werken tot een fysiek datamodel. Het vocabularium geeft een overzicht van de gebruikte terminologie en daaraan gekoppeld definities.</p>

{% endblock %}

{% block status %}

<p>Deze versie is gebouwd met de OSLO toolchain v4. Deze toolchain introduceert geen inhoudelijke of semantische wijzigingen ten opzichte van vorige versie, maar biedt wel enkele verbeteringen: 

<ul>
<li>
Externe terminologie wordt automatisch mee gepubliceerd, wat zorgt voor rijkere en beter geïntegreerde standaarden. 
</li>
<li>
SHACL-templates worden samen met de standaarden gepubliceerd, waardoor validatie en implementatie eenvoudiger worden. 
</li>
</ul>

</p>
{% endblock %}
